<a href="https://colab.research.google.com/github/alifndaru/ML/blob/main/Pengenalan_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import os
import pandas as pd
os.listdir('sample_data')
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

NORMALIZATION

In [8]:
from sklearn.preprocessing import MinMaxScaler
data = [
        [12000000, 33],
        [35000000, 45],
        [4000000, 23],
        [6500000, 26],
        [9000000, 29]
]
scaler = MinMaxScaler()
scaler.fit(data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
print(scaler.transform(data))

[[0.25806452 0.45454545]
 [1.         1.        ]
 [0.         0.        ]
 [0.08064516 0.13636364]
 [0.16129032 0.27272727]]

  STANDARDIZATION

In [10]:
from sklearn import preprocessing
data = [
        [12000000, 33],
        [35000000, 45],
        [4000000, 23],
        [65000000, 26],
        [9000000, 29]
]
scaler = preprocessing.StandardScaler().fit(data)
data = scaler.transform(data)
data

array([[-0.57385217,  0.23521877],
       [ 0.44142475,  1.80334389],
       [-0.92699197, -1.07155217],
       [ 1.76569899, -0.67952089],
       [-0.70627959, -0.28748961]])

Dataset Train_test_split

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test-split(X,y, test_size = 0,2, random_state = 1)

SyntaxError: ignored

In [14]:
from sklearn.model_selection import train_test_split
 
X_data = range(10)
y_data = range(10)
 
print("random_state ditentukan")
for i in range(3):
    X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = 42)
    print(y_test)
 
 
print("random_state tidak ditentukan")
for i in range(3):
    X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = None)
    print(y_test)

random_state ditentukan
[8, 1, 5]
[8, 1, 5]
[8, 1, 5]
random_state tidak ditentukan
[7, 6, 2]
[6, 0, 5]
[2, 9, 6]

Latihan SKLearn Train Test Split

In [16]:
import sklearn
from sklearn import datasets

#load iris dataset
iris = datasets.load_iris()

#pisahkan atribut dan label pada iris dataset
x = iris.data
y = iris.target

from sklearn.model_selection import train_test_split

#membagi dataset menjadi training dan testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

#menghitung jumlah/panjang data pada x_test
len(x_test)

30

Tujuan
Pada codelab kali ini kita akan menggunakan cross_validation_score pada classifier decision_tree. Dataset yang digunakan adalah dataset iris.


Tahapan Latihan
Tahapan yang dilakukan pada codelab ini sebagai berikut:

Impor library yang dibutuhkan.
Pisahkan antara atribut dan label pada dataset.
Buat model decision tree.
Hitung hasil cross validation dari model dengan fungsi cross_val_score().

In [24]:
import sklearn
from sklearn import datasets

#load iris datasets
iris = datasets.load_iris()
#mendefinisikan atribut dan label pada dataset

x = iris.data
y = iris.target

from sklearn import tree
#membuat model dengan decision tree ckassifier
clf = tree.DecisionTreeClassifier()

from sklearn.model_selection import cross_val_score
#mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(clf, x, y, cv = 5)
scores

array([0.96666667, 0.96666667, 0.9       , 1.        , 1.        ])